<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

(https://github.com/amerine/acts_as_tree tryout)
<hr/>
<%= Category.tree_view(:name) %>
<hr/>
<div id="categories">

<% Category.where(name: "root").walk_tree do |c, level| %>
  <%= link_to "#{'-'*level}#{c.name}", category_path(c) %><br />
<% end %>
</div>
<hr>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
